.body {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  background: white;
}
h2{
  text-align: center;
}
.box1 {
  background: navy;
}

.box2 {
  background: purple;
}

.box3 {
  background: darkcyan;
}

.box4 {
  background: salmon;
}

.box5 {
  background: green;
}

.box6 {
  background: yellowgreen;
}

.container {
  color: white;
}
