h1{
  text-align: center;
}

.container{
  color: white;
}

.border{
  border-radius: 10px;
  background: gray;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  /* margin-left: 5px; */
    /* padding-left: 15px; This does seem to work...not sure why not here but working in #two */
    /* padding-right: 10px; */
}

#two{
  padding-bottom: 240px;
}

#three{
    margin-left: 20px;
    /* margin-left: -0.25rem; */
}
/*
.row{
  padding-left: 10px;
}*/
