.body {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  background: white;
}
.row{
  height: 40px;
}

.border{
  padding-top: 5px;
}
h2{
  text-align: center;
}
.col-1 {
  background: navy;
}

.col-3 {
  background: purple;
}

.col-4 {
  background: darkcyan;
}

.col-8 {
  background: salmon;
}

.col-12 {
  background: green;
}

.col-6 {
  background: yellowgreen;
}

.container {
  color: white;
}
