.container {
  color: white;
}

.border {
  border-radius: 10px;
  background: gray;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.row {
  /* padding-left: 10px; */
  height: 100px;
}

.top-buffer {
  margin-top: 20px;
}

h1 {
  text-align: center;
}
